@import "tailwindcss";

/* Load the default theme - or pick another, see https://flowbite.com/docs/customize/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* Load Flowbite */
@plugin "flowbite/plugin";
@plugin "flowbite-typography";

/* Include CSS classes used by the components in the final CSS */
@import "../builds/tailwind/flowbite_components";

@custom-variant dark (&:where(.dark, .dark *));

footer a {
  @apply font-medium text-brand hover:underline;
}
