<div class="<%= params.dig(:lookbook, :display, :classes) %>">
  <% if scenarios.many? %>
    <!-- Render a group of scenarios -->
    <% scenarios.each do |scenario| %>
      <div style="margin-bottom: 30px !important; display: block !important;">
        <%= scenario.output %>
      </div>
    <% end %>
  <% else %>
    <!-- Render a single scenario -->
    <%= scenarios.first.output %>
  <% end %>
</div>
