<% if scenarios.many? %>
  <!-- Render a group of scenarios -->
  <div class="flex flex-wrap">
    <% scenarios.each do |scenario| %>
      <div style="margin-bottom: 30px !important; display: block !important;">
        <%= scenario.output %>
      </div>
    <% end %>
  </div>
<% else %>
  <!-- Render a single scenario -->
  <%= scenarios.first.output %>
<% end %>
